name: Docker Image

on:
  workflow_dispatch:
    inputs:
      name:
        type: choice
        description: "Select a docker image to deploy"
        options:
          - "1"
          - "2"
          - "3"
          - "4"
          - "5"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Fetch Docker image name
        id: fetch_image
        run: |
          images=("nginx" "httpd" "mysql" "postgres" "redis")
          selected_image=${images[${{ github.event.inputs.option }} - 1]}
          echo "::set-output name=image::$selected_image"

      - name: Deploy Docker Image
        run: docker run -d ${{ steps.fetch_image.outputs.image }}
